@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Share Tech Mono';
}
nav a {
    color: white;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.form-ctrl {
    width: 70%
}

.card {
    width: 24%;
    max-width: 300px;
    padding: 10px;
    margin: 5px;
}

.wrapper-cards {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 600px; */

}

.description-card {
    font-size: 13px;
}

.card-tags {
    font-size: 11px;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 2px;
    font-weight: 700;
}

.btn-details {
    width: 60%;
}

.card-details {
    width: 40%;
    /* height: 400px; */
    /* background-color: aqua; */
    border: 1px solid #cacaca;
    border-radius: 8px;

}

.card-tags-details {
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    font-weight: 700;
}