@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Share Tech Mono';
}
nav a {
    color: white;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.form-ctrl {
    width: 60%
}
