@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-family: 'Share Tech Mono';
}
nav a {
    color: white;
    text-decoration: none;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.form-ctrl {
    width: 60%
}

.card {
    width: 200px;
    max-width: 300px;
    padding: 5px;
    margin: 5px;
}

.wrapper-cards {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 600px; */

}